<template>
<div id= "app">
  	<login/>
    <formulario/>
    <datepicker/>
    <ingresos/>
  
  </div>
</template>

<script>
import login from "./components/login";
import formulario from "./components/formulario";
import Datepicker from 'vuejs-datepicker';
import ingresos from "./components/ingresos";
export default {
  name: "app",
  components: {
    login,
    formulario,
    Datepicker,
    ingresos
  },
  data() {
    return {};
  }
};
</script>

<style>
</style>
