<template>
	<div>
		<h1>Formulario de cliente</h1>
		<input v-model="nombre" placeholder="Nombre">
		<input v-model="apellido" placeholder="Apelido">
		<br>
		<br>

		<select v-model="selected">
  			<option>Panamá</option>
  			<option>Colón</option>
  			<option>Chiriquí</option>
		</select>

		<br>
		<br>
		<input type="radio" id="femenino" value="Femenino" v-model="picked">
		<label for="one">Femenino</label>
		<br>
		<input type="radio" id="masculino" value="Masculino" v-model="picked">
		<label for="two">Masculino</label>
		<br>
		<br>

		<input v-model="message" placeholder="Seleccione el estado">
		<br>
		<br>

		<button type="button" v-on:click="empezr()">Empezar</button>
</div>
   
</template>
<script>

export default {
	
  data() {
    return {
		value1: ''
	};
  }
};
</script>

<style>
    
<style>

import
<script>